body {
    font-family: 'Cairo', sans-serif;
    background: linear-gradient(to right, #0066cc, #00ccff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    direction: rtl;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.registration-form {
    background-color: #fff;
    padding: 4vw;
    border-radius: 1.5vw;
    box-shadow: 0 0 3vw rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

.registration-form .header {
    text-align: center;
    margin-bottom: 3vw;
}

.registration-form .header .logo {
    width: 20vw;
    height: auto;
    margin-bottom: 1vw;
}

.registration-form h1 {
    margin: 0;
    font-size: 4vw;
    color: #333;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 2vw;
    color: #555;
    font-size: 3vw;
}

.registration-form .form-group {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
}

.registration-form label {
    display: block;
    margin-bottom: 0.5vw;
    font-weight: 600;
    color: #333;
}

.registration-form input,
.registration-form textarea,
.registration-form select {
    width: 100%;
    padding: 1.2vw;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-transition: border-color 0.3s, box-shadow 0.3s; /* Safari */
    -moz-transition: border-color 0.3s, box-shadow 0.3s; /* Firefox */
    -o-transition: border-color 0.3s, box-shadow 0.3s; /* Opera */
}

.registration-form input:focus,
.registration-form textarea:focus,
.registration-form select:focus {
    border-color: #0066cc;
    box-shadow: 0 0 0.5vw rgba(0, 102, 204, 0.5);
    -webkit-box-shadow: 0 0 0.5vw rgba(0, 102, 204, 0.5); /* Safari */
    -moz-box-shadow: 0 0 0.5vw rgba(0, 102, 204, 0.5); /* Firefox */
    -o-box-shadow: 0 0 0.5vw rgba(0, 102, 204, 0.5); /* Opera */
}

button[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    padding: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 2vw;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s; /* Safari */
    -moz-transition: background-color 0.3s; /* Firefox */
    -o-transition: background-color 0.3s; /* Opera */
}

button[type="submit"]:hover {
    background-color: #005bb5;
}
